html {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
.work {
    max-width: 1000px;
    padding: 2rem 2rem;
    &.work__heading {
        font-size: 20px;
        font-weight: bold;
        
    }
}